{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Проданные квартиры<br/>Обновление от {{ updated_at }}</span></h1>
                <table>
                    <thead>
                    <th>ID Квартиры</th>
                    <th>Жилой Комлекс</th>
                    <th>Тип квартиры</th>
                    <th>Колиство комнат</th>
                    <th>Базовая стоимость, руб</th>
                    </thead>
                    {% for result in results %}
                    <tr>
                        <td>{{ result.xml }}</td>
                        <td>{{ result.block.name }}</td>
                        <td>{{ result.flattype.name }}</td>
                        <td>{{ result.rooms }}</td>
                        <td>{{ result.baseflatcost }}</td>
                    </tr>
                    {% endfor %}
                </table>
                <h2><span>Характеристики:</span></h2>
                <ul>
                    <li>Backend результат выполнен на Symfony {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}, Сервер БД Mysql 5.1, PHP 5.3, Apache Webserver</li>
                    <li>Поиск проданных квартир осуществляется по предварительно загруженной и периодически обновляемой БД</li>
                    <li>Загрузка и обновление БД квартир осуществляется в фоновом режиме через CRON задание с периодиностью в 5 минут, где выполняется PHP скрипт разбора XML файла и UPDATE записей с помощью MySQL utilities</li>
                    <li>Время обновления фиксируется в БД и отображается на странице результата.</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        body {
            background: #F5F5F5;
            font: 18px/1.5 sans-serif;
        }

        h1, h2 {
            line-height: 1.2;
            margin: 0 0 .5em;
        }

        h1 {
            font-size: 36px;
        }

        h2 {
            font-size: 21px;
            margin-bottom: 1em;
        }

        p {
            margin: 0 0 1em 0;
        }

        a {
            color: #0000F0;
        }

        a:hover {
            text-decoration: none;
        }

        code {
            background: #F5F5F5;
            max-width: 100px;
            padding: 2px 6px;
            word-wrap: break-word;
        }

        #wrapper {
            background: #FFF;
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
        }

        #container {
            padding: 2em;
        }

        #welcome, #status {
            margin-bottom: 2em;
        }

        #welcome h1 span {
            display: block;
            font-size: 75%;
        }

        #icon-status, #icon-book {
            float: left;
            height: 64px;
            margin-right: 1em;
            margin-top: -4px;
            width: 64px;
        }

        #icon-book {
            display: none;
        }

        @media (min-width: 768px) {
            #wrapper {
                width: 80%;
                margin: 2em auto;
            }

            #icon-book {
                display: inline-block;
            }

            #status a, #next a {
                display: block;
            }

            @-webkit-keyframes fade-in {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
            @keyframes fade-in {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
            table { padding-bottom: 40px; border-collapse: collapse; }
            table th, table td { padding: 5px; text-align: center; border: 1px solid #eee; border-collapse: collapse; }
            .sf-toolbar {
                opacity: 0;
                -webkit-animation: fade-in 1s .2s forwards;
                animation: fade-in 1s .2s forwards;
            }
        }
    </style>
{% endblock %}